<html>
  <head>
    <title>New Message</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <div>New Message Form</div>
      <label for="user">
        User Name:
        <input type="text" name="user"/>
      </label>
      <label for="text">
        Message:
        <input type="text" name="text"/>
      </label>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>